@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');



.textoBlog {
    font-family: serif;
    font-size: 80px;
    color: #fff;
    margin-left: 120px;
}

.descripcionBlog {
    margin-left: 155px;
    color: white;
    text-align: justify;
}

.contenedorDescripcion {
    height: auto;
    width: auto;
}



.contenedor-imagen {
    width: 100%;
    min-height: 100vh;
    background: url(../Imagenes/fondo.png) no-repeat center center/cover;
    position: relative;
}

.contenedor-Base {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #fff;
}

.contenedor-servicios {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    height: 1500px;
    width: 1340px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: #fff;
}

.contenedorServiciosGeneral {
    position: relative;
    max-width: 1320px;
    width: 100%;
    padding: 40px 40px;
}

.tituloServicios {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    max-height: 80px;
    height: 100%;
    width: 100%;
    font-size: 50px;
    font-family: serif;
}

.botonesServicios {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background: #fff;
    max-width: 220px;
    width: 100%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    transition: background-color 0.7s ease, color 0.7s ease, border-color 0.7s ease;
    white-space: nowrap;
}

.imagenesServicios {
    display: flex;
    margin-top: 35px;
    gap: 20px;
    flex-wrap: wrap;
    width: 1280px;
}

.imagen {
    flex-basis: 300px;
    background: rgba(0, 0, 0, 0.6);
    padding: 3px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagen:hover {
    transform: translateY(-15px);
    /* Se levanta */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    /* Más sombra para profundidad */
}

.imagen.hide {
    display: none;
}

.imagen img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 8px;
}

.imagen #corte4 {
    background: linear-gradient(180deg, #f3f3f3 0%, #d9d9d9 100%);
}

#corte4 {
    object-fit: contain;
}

.cuerpoImagen {
    padding: 15px 20px 20px
}

.tituloImagen {
    font-size: 20px;
    font-weight: 500;
    color: #D2B48C;
}

.textoImagen {
    font-size: 18px;
    color: #fff;
}

.contenedor-etiquetas {
    display: flex;
    flex-direction: row;
    max-height: 900px;
    max-width: 300px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: #fff;
}

.contenedorEtiquetasGeneral {
    display: flex;
    flex-direction: column;
    max-height: 900px;
    max-width: 300px;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    color: #fff;
}

.tituloEtiquetas {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    max-height: 100px;
    height: 100%;
    width: 100%;
    align-items: center;
    font-size: 50px;
    font-family: serif;
}


.botonesEtiquetas {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    align-items: center;
    gap: 15px
}

.botonesEtiquetas button.hide {
    display: none;
}

.contenedor-etiquetasContactos {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    max-width: 300px;
    width: 100%;
    height: auto;
}

.contenedor-contactos {
    display: flex;
    flex-direction: row;
    max-height: 520px;
    max-width: 300px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: #fff;
    margin-top: 35px;
}

.contenedorContactosGeneral {
    display: flex;
    flex-direction: column;
    max-height: 520px;
    max-width: 300px;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    color: #fff;
}

.tituloContactos {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    max-height: 100px;
    height: 100%;
    width: 100%;
    align-items: center;
    font-size: 50px;
    font-family: serif;
}

.infoContactos {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    max-width: 280px;
    width: 100%;
    gap: 3px;
    color: #D2B48C;
}

.telefonoContactos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: white;
}

.textoContactos {
    font-size: 26px;
    font-family: "Jost", serif;
}

.etiquetas-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.contactos-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/*Tablets o celulares grandes*/
@media (max-width: 880px) {
    .navbar {
        backdrop-filter: none;
    }

    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }

    .botonesEtiquetas {
        display: none;
        flex-direction: row;
    }

    .infoContactos {
        display: none;
    }

    .navbar-container .navbar-menu.active {
        display: flex;
    }

    .infoContactos.active {
        display: flex;
    }

    .botonesEtiquetas.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
        z-index: 999;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .etiquetas-toggle {
        display: block;
        z-index: 999;
    }

    .etiquetas-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .etiquetas-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .etiquetas-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .contactos-toggle {
        display: block;
        z-index: 999;
    }

    .contactos-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .contactos-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .contactos-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .contenedor-central {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        width: 500px;
        /* Para que no se haga gigante */
        text-align: center;
        color: #fff;
    }

    .textoBlog,
    .contenedor-etiquetasContactos {
        margin-left: 20px;
    }

    .contenedor-Base {
        flex-direction: column;
    }
}

/*Celulares*/
@media (max-width:480px) {



    .contenedor-imagen,
    .contenedor-Noimagen {
        max-width: 100%;
        overflow-x: hidden;
    }



    .contenedor-central {
        width: 90%;
        /* Ajusta al viewport */
        max-width: 480px;
        /* Limita en móviles */
    }


    .textoBlog,
    .contenedor-etiquetasContactos {
        margin-left: 15px;
    }

    .contenedor-Base {
        flex-direction: column;
        gap: 2.5rem;
    }

    .contenedor-etiquetas,
    .contenedorEtiquetasGeneral,
    .contenedor-etiquetasContactos,
    .botonesEtiquetas {
        max-width: 350px;
        align-items: center;
        gap: 0.5rem;
        padding-bottom: 10px;
    }

    .botonesEtiquetas {
        flex-wrap: wrap;
        /*os botones bajen a la siguiente línea */
        justify-content: center;
        /* Centra los botones dentro del contenedor */
        max-width: 100%;
        /* Asegura que el contenedor no exceda su ancho */
        gap: 0.5rem;
    }

    .botonesEtiquetas button {
        flex-shrink: 1;
        /* Permite que los botones se reduzcan si es necesario */
        max-width: 220px;
        /* Evita que cada botón exceda el contenedor */
    }


    .contenedor-contactos,
    .contenedorContactosGeneral {
        align-items: center;
        max-height: 900px;
        padding-bottom: 10px;
        max-width: 350px;
    }

    .imagenesServicios {
        max-width: 300px;
    }


    .contenedor-servicios {
        margin-left: 15px;
        max-width: 350px;
        height: auto;
    }

    .contenedorServiciosGeneral {
        padding: 40px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        height: auto;
    }

    .botonesServicios {
        max-width: 200px;
        width: 100%;
    }

    .tituloServicios {
        align-items: center;
    }

    .textoBlog {
        font-size: 60px;
        text-align: center;
        padding-left: 0px;
    }

    .descripcionBlog {
        margin-left: 0px;
    }

    .contenedorDescripcion {
        display: flex;
        flex-wrap: wrap;
        max-width: 335px;
        align-items: center;
        margin-left: 15px;
        gap: 50px;
    }


}