@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap');



.contenedor-imagen {
    width: 100%;
    min-height: 100vh;
    background: url(../Imagenes/fondo.png) no-repeat center center/cover;
    position: relative;
}

.contenedor-Base {
    display: flex;
    flex-direction: row;
    height: 1450px;
    width: 100%;
    color: #fff;
    background-color: rebeccapurple;
}


.contenedor-contenidoArticulo {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    height: auto;
    max-width: 1800px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: #fff;
}

.tituloArticulo {
    font-family: "Playwrite AU TAS", cursive;
    font-size: 70px;
    color: white;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    white-space: normal;
}

.contenedor-tituloArticulo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
    height: auto;
}

.contenedorBotonTitulo {
    max-width: 500px;
    margin-left: 0;
}

.contenedorBotonRegreso {
    max-width: 500px;
    margin-left: 0;
    margin-bottom: 50px;
}

.contenedor-descripcion {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-height: 50px;
    max-width: 1800px;
    height: 100%;
    width: 100%;
    padding: 10px 90px;
    align-items: center;
}

.contenedor-cuerpoArticulo {
    display: flex;
    flex-direction: row;
    max-width: 1800px;
    height: auto;
    width: 100%;
    padding-left: 70px;
}

.imagen {
    flex-basis: 600px;
    background: rgba(0, 0, 0, 0.6);
    padding: 3px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    max-height: 705px;
}

.imagen img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    border-radius: 8px;
}

.contenedor-textoArticulo {
    display: flex;
    flex-direction: column;
    max-height: 705px;
    max-width: 1200px;
    height: 100%;
    width: 100%;
    padding: 10px 70px 0px 50px;
    text-align: justify;
    font-family: "Jost", serif;
    font-size: 1.11rem;
}

.botonAgendar {
    padding: 10px 20px;
    font-size: 18px;
    background: #FFB347;
    max-height: 50px;
    max-width: 220px;
    width: 100%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    transition: background-color 0.7s ease, color 0.7s ease, border-color 0.7s ease;
    white-space: nowrap;
}

.botonAgendar a {
    text-decoration: none;
    color: #4E342E;
    font-family: "Jost", serif;
    font-size: 1.3rem;
    font-weight: 500;
}

.botonRegresar {
    padding: 10px 20px;
    font-size: 18px;
    background: #E76F51;
    max-height: 50px;
    max-width: 220px;
    width: 100%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    transition: background-color 0.7s ease, color 0.7s ease, border-color 0.7s ease;
    white-space: nowrap;
}

.botonRegresar a {
    text-decoration: none;
    color: #4E342E;
    font-family: "Jost", serif;
    font-size: 1.3rem;
    font-weight: 500;
}



/*Tablets o celulares grandes*/
@media (max-width: 880px) {
    .navbar {
        backdrop-filter: none;
    }

    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }

    .navbar-container .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
        z-index: 999;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .contenedor-central {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        width: 500px;
        /* Para que no se haga gigante */
        text-align: center;
        color: #fff;
    }

}

/*Celulares*/
@media (max-width:480px) {

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .contenedor-imagen,
    .contenedor-fondoColor {
        max-width: 100%;
        overflow-x: hidden;
    }

    .navbar-container {
        width: 100%;
        max-width: 100%;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    .contenedor-central {
        width: 90%;
        /* Ajusta al viewport */
        max-width: 480px;
        /* Limita en móviles */
    }

    .navbar-logo {
        font-size: 1.7rem;
    }

    .navbar-container .navbar-menu li a {
        font-size: 1.2rem;
        padding: 3px 15px;
    }

    button {
        background: #fff;
        max-width: 200px;
    }

    .navbar-toggle {
        max-width: 50px;
    }

    .contenedor-contenidoArticulo {
        margin-left: 15px;
        width: 350px;
    }

    .contenedor-cuerpoArticulo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 25px;
    }

    .contenedor-tituloArticulo {
        padding-left: 10px;
        justify-content: center;
        gap: 20px;
    }

    .tituloArticulo {
        font-size: 20px;
        margin-left: 55px;
        text-align: center;
    }

    .contenedorBotonTitulo {
        margin-left: 50px;
    }

    .contenedor-descripcion{
        padding-left: 30px;
        padding-right: 20px;
    }

    .imagen{
        flex-basis: 300px;
        max-height: 406px;
    }

    .imagen img{
        height: 400px;
    }

    .contenedor-textoArticulo{
        padding-top: 25px;
        padding-left: 0px;
        padding-right: 25px;
    }
}