@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap');

.contenedor-contenidoArticulo {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    height: auto;
    max-width: 1800px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: #fff;
}

.tituloArticulo {
    font-family: "Playwrite AU TAS", cursive;
    font-size: 70px;
    color: white;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    white-space: normal;
}

.contenedor-tituloArticulo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
    height: auto;
}

.contenedorBotonTitulo {
    max-width: 500px;
    margin-left: 0;
}

.contenedorBotonRegreso {
    max-width: 500px;
    margin-left: 0;
    margin-bottom: 50px;
}

.contenedor-descripcion {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-height: 50px;
    max-width: 1800px;
    height: 100%;
    width: 100%;
    padding: 10px 90px;
    align-items: center;
}

.contenedor-cuerpoArticulo {
    display: flex;
    flex-direction: column;
    max-width: 1800px;
    height: auto;
    width: 100%;
    padding-left: 70px;
}

.contenedor-textoArticulo {
    display: flex;
    flex-direction: column;
    max-height: 705px;
    max-width: 1610px;
    height: 100%;
    width: 100%;
    padding: 60px 0px 0px 50px;
    text-align: justify;
    font-family: "Jost", serif;
    font-size: 1.4rem;
    margin-bottom: 130px;
}

.botonAgendar {
    padding: 10px 20px;
    font-size: 18px;
    background: #FFB347;
    max-height: 50px;
    max-width: 220px;
    width: 100%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    transition: background-color 0.7s ease, color 0.7s ease, border-color 0.7s ease;
    white-space: nowrap;
}

.botonAgendar a {
    text-decoration: none;
    color: #4E342E;
    font-family: "Jost", serif;
    font-size: 1.3rem;
    font-weight: 500;
}

.botonRegresar {
    padding: 10px 20px;
    font-size: 18px;
    background: #E76F51;
    max-height: 50px;
    max-width: 220px;
    width: 100%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    transition: background-color 0.7s ease, color 0.7s ease, border-color 0.7s ease;
    white-space: nowrap;
}

.botonRegresar a {
    text-decoration: none;
    color: #4E342E;
    font-family: "Jost", serif;
    font-size: 1.3rem;
    font-weight: 500;
}

.contenedor-slider{
    display: flex;
    height: 700px;
    width: 96%;
    align-items: center;
}

.slider{
    background-image: url(../ImagenesSliderUnnas/C23.jpg);
    background-size: 100% 100%;
    position: absolute;
    margin-left: 330px;
    width: 1000px;
    height: 660px;
    border-radius: 10px;
    animation: slide 15s infinite linear;
}


@keyframes slide{
    25% {background-image: url(../ImagenesSliderUnnas/C21.jpg);}
    50% {background-image: url(../ImagenesSliderUnnas/C22.jpg);}
    75% {background-image: url(../ImagenesSliderUnnas/C23.jpg);}
}

/*Celulares*/
@media (max-width:480px) {

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .contenedor-imagen,
    .contenedor-fondoColor {
        max-width: 100%;
        overflow-x: hidden;
    }

    .contenedor-contenidoArticulo {
        margin-left: 15px;
        width: 350px;
    }

    .contenedor-cuerpoArticulo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 0px;
        align-content: center;
    }

    .contenedor-tituloArticulo {
        padding-left: 10px;
        justify-content: center;
        gap: 20px;
    }

    .tituloArticulo {
        font-size: 20px;
        margin-left: 55px;
        text-align: center;
    }

    .contenedorBotonTitulo {
        margin-left: 50px;
    }

    .contenedor-descripcion{
        padding-left: 30px;
        padding-right: 20px;
    }

    .contenedor-textoArticulo{
        padding-left: 25px;
        padding-right: 25px;
        font-size: 1rem;
        margin-bottom: 100px;
    }

    .contenedor-slider{
        margin-top: 10px;
        height: 330px;
        width: 96%;
    }

    .slider{
        margin-left: 20px;
        width: 300px;
        height: 330px;
    }
}