@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.textoBlog {
    font-family: serif;
    font-size: 80px;
    color: #fff;
    margin-left: 120px;
}

body {
    font-family: "Jost", serif;
    min-height: 100vh;
    opacity: 80.5;

    word-wrap: break-word;
    /* Permite cortar palabras largas */
    overflow-wrap: break-word;
    /* Alternativa moderna */
    white-space: norma
}

.contenedor-imagen {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: url(Imagenes/fondo.png) no-repeat center center/cover;
    position: relative;
    align-items: center;
}

.contenedor-fondoColor {
    width: 100%;
    min-height: 100vh;
    background: #502314;


background: linear-gradient(to bottom,
        #1a0a05 0%,    /* Marrón muy oscuro para el header */
        #3b1408 5%,   /* Marrón cálido profundo */
        #a63c0c 35%,   /* Naranja rojizo sutil */
        #d95f1c 50%,   /* Naranja brillante (punto focal) */
        #8c2f0a 70%,   /* Rojo-marrón cálido */
        #2a0f0a 800%   /* Marrón oscuro profundo */
    );

    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

.contenedor-Base {
    display: flex;
    flex-direction: row;
    height: 1450px;
    width: 100%;
    color: #fff;
}

.contenedor-servicios {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    height: 1450px;
    width: 1340px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: #fff;
}

.contenedorServiciosGeneral {
    position: relative;
    max-width: 1320px;
    width: 100%;
    padding: 40px 40px;
}

.botonesServicios {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    transition: background-color 0.7s ease, color 0.7s ease, border-color 0.7s ease;
    white-space: nowrap;
}

button.active, button:hover {
    color: #162530;
    background: rgba(255, 166, 50, 0.8);
    border: 2px solid #fff;
}

.imagenesServicios {
    display: flex;
    margin-top: 35px;
    gap: 20px;
    flex-wrap: wrap;
    width: 1280px;
}

.imagen {
    flex-basis: 300px;
    background-color: #fff;
    padding: 3px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.imagen.hide {
    display: none;
}

.imagen img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 8px;
}

.cuerpoImagen {
    padding: 15px 20px 20px
}

.tituloImagen {
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.textoImagen {
    font-size: 18px;
    color: #000;
}

.contenedor-etiquetas {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    max-height: 900px;
    max-width: 300px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: #fff;
}

.contenedorEtiquetasGeneral{
    display: flex;
    flex-direction: column;
    max-height: 900px;
    max-width: 300px;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    color: #fff;
}

.tituloEtiquetas{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    max-height: 100px;
    height: 100%;
    width: 100%;
    align-items: center;
    font-size: 50px;
    font-family: serif;
}

.botonesEtiquetas{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    align-items: center;
    gap: 15px
}

.botonesEtiquetas button.hide{
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}

.navbar-logo {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.navbar-container .navbar-menu {
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active {
    color: #162530;
    background: rgba(255, 165, 20, 0.8);
    border: 2px solid #fff;
}

.navbar-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #fff;
    transition: all 0.3s ease-in-out;
}

/*Tablets o celulares grandes*/
@media (max-width: 880px) {
    .navbar {
        backdrop-filter: none;
    }

    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }

    .navbar-container .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
        z-index: 999;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .contenedor-central {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        width: 500px;
        /* Para que no se haga gigante */
        text-align: center;
        color: #fff;
    }
}

/*Celulares*/
@media (max-width:480px) {

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .contenedor-imagen,
    .contenedor-Noimagen {
        max-width: 100%;
        overflow-x: hidden;
    }

    .navbar-container {
        width: 100%;
        max-width: 100%;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    .contenedor-central {
        width: 90%;
        /* Ajusta al viewport */
        max-width: 480px;
        /* Limita en móviles */
    }

    .navbar-logo {
        font-size: 1.7rem;
    }

    .navbar-container .navbar-menu li a {
        font-size: 1.2rem;
        padding: 3px 15px;
    }
}